@use "sass:color";


$font__main: 'Work Sans', sans-serif;
$font__heading: 'Varela Round', sans-serif;

$color__HELPIMHUNGRY: #a9ae5e;
$color__orange: #fb763d;
$color__lightyellow: #eff871;
$color__white: #f9f6e0;
$color__black: #000000;
$color__yellow: #e0e963;




